/* ベースリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

body {
    background-color: #fdf6e3;
    /* 柔らかいクリーム色 */
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f7c59f;
    /* 柔らかいオレンジ */
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #f0b070;
}

header h1 {
    font-size: 2rem;
    color: #fff;
}

.auth-links {
    list-style: none;
    margin-top: 0.5rem;

}

.auth-links li {
    display: inline-block;
    margin: 0 0.5rem;

}

.auth-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.auth-links a:hover {}

.container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* quiz_result.php----- */
.container-result {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #f08a5d;
}

.question-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fefbd8;
    text-align: center;
    border-radius: 10px;

}

.grades {
    margin: 0.5rem 0;
    text-align: center;
}

.grade-btn {
    display: inline-block;
    width: 45%;
    margin: 0.3rem 1%;
    padding: 0.8rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #6cace4;
    /* 明るいブルー */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.backtop {
    width: 300px;
}

.grade-btn:hover {
    background-color: #4a90e2;
}

.feedback {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    color: #f08a5d;
}

.subjects {
    margin-top: 1rem;
    text-align: center;
}

.subjects button {
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #f6abb6;
    /* 柔らかいピンク */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.subjects button:hover {
    background-color: #f08a5d;
}

select {
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}